<% if(success && success.length){ %>

    <div class="alert alert-success" style="text-align: center; max-width: 40%; margin : 5px auto; border-radius: 1rem;" role="success">
        <%= success %>
    </div>     

<% } %>
<% if(error && error.length){ %>

    <div class="alert alert-danger" style="text-align: center; max-width: 40%; margin : 5px auto; border-radius: 1rem;" role="alert">
        <%= error %>
    </div>
      
<% } %>