<footer>
    <div class="flex flex-wrap justify-center items-center h-32 text-center bg-slate-200 h-[140px]" >
        <div class="w-full text-[1.2rem] " >
            <i class="fa-brands fa-facebook mr-3 "></i>
            <i class="fa-brands fa-instagram mr-3 "></i>
            <i class="fa-brands fa-linkedin-in mr-3 "></i>
    
        </div>
        <div class="text-center  w-full">&copy;Airbnb Private Limited</div>
        <div class="w-full ">
            <a  class="no-underline text-black hover:underline" href="/privacy">Privacy</a>
            <a class="no-underline text-black hover:underline" href="/terms">Terms</a>
        </div>
    </div>
</footer>