<nav class="navbar">
  <div class="content">
    <!-- Logo and Links -->
    <div class="logo">
      <a href="/listings">
        <i class="fa-solid fa-hotel text-red-500"></i>
      </a>
      <a href="/listings" class="no-underline text-red-500"><b>WanderHub</b></a>
    </div>

    <!-- Explore and Create Experiences Links -->
    <div class="links">
      <a class="nav-link" href="/listings">Explore</a>
      <a class="nav-link" href="/listings/new">Create Experiences</a>
    </div>

    <!-- Authentication Links (Signup, Login, Logout) -->
    <div class="auth-links">
      <% if (!currUser) { %>
        <a class="nav-link active signup" aria-current="page" href="/signup"><b>Signup</b></a>
        <a class="nav-link login" href="/login"><b>Login</b></a>
      <% } %>
      <% if (currUser) { %>
        <span class="nav-link mb-0 flex justify-center items-center"
            style="font-size: 1.2rem; font-weight: 700; text-decoration: underline; text-underline-offset: 4px; color: black;">
          <%= currUser.username %>
        </span>
        <a class="nav-link mb-0 flex justify-center items-center logout-btn" href="/logout">Logout</a>
      <% } %>
    </div>
  </div>
</nav>