<% layout('/layouts/boilerplate') -%>

    <div class="w-full h-full p-8 ">
        <h3 class="my-4">Create New Listing</h3>
        <form action="/listings" method="post" >
            <label for="title">Title</label><br>
            <input required type="text" name="listing[title]" id="title" placeholder="enter title" class="border-2 h-10 w-[98%] rounded-md px-2 mb-3">
            <br>
            <label for="description">Description</label><br>
            <textarea required  type="text" name="listing[description]" id="description" class="border-2 h-20 w-[98%] rounded-md px-2 mb-3"></textarea>
            <br>
            <label for="image">Image Link</label><br>
            <input type="text" name="listing[image]" id="image" placeholder="enter image URL/Link" class="border-2 h-10 w-[98%] rounded-md px-2 mb-3">
            <br>
            <label for="price">Price</label>
            <label for="country" class="absolute left-1/2">Country</label><br>
            <input required  type="text" name="listing[price]" placeholder="enter price" id="price" class="border-2 h-10 w-[46%] rounded-md px-2 mb-3">
    
            <input required type="text" name="listing[country]" placeholder="enter country" id="country" class="border-2 h-10 w-[46%] absolute left-1/2 rounded-md px-2 mb-3">
            <br>
            <label for="location">Location</label><br>
            <input required type="text" name="listing[location]" placeholder="enter location" id="location" class="border-2 w-[98%] h-10 rounded-[0.2rem] px-2 mb-3">
            <br>
            <button class="bg-red-600 text-white rounded-lg w-16 h-7 border-none hover:bg-red-500">Add</button>
        </form>
    </div>

