<% layout('/layouts/boilerplate') -%>
<div style="min-height: 80vh;">
    <div class="row mt-3">
        <h1 class="col-6 offset-3 mt-5 mb-5">Login on Airbnb</h1>
        <div class="col-6 offset-3">
            <form action="/login" method="POST">
                <label for="username">Username</label><br>
                <input required type="text" name="username" id="username"  class="border-2 h-10 w-[98%] rounded-md px-2 mb-3">
                <label for="password">Password</label><br>
                <input required type="password" name="password" id="password"  class="border-2 h-10 w-[98%] rounded-md px-2 mb-3">
                <button style="background-color: #16a34a;" class="text-white px-4 py-2 rounded">Log In</button>
            </form>
        </div>
    </div>
</div>